<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumTest" verbose="1" parallel="tests">
    <parameter name="browser" value="chrome" />

    <listeners>
        <listener class-name="ru.beru.TestAllureListener"></listener>
        <!--<listener class-name="ru.beru.TestListener"></listener>-->
    </listeners>

    <test name="TitleTest">
        <classes>
            <class name="ru.beru.SimpleTests" />
        </classes>
    </test>

    <test name="LoginTest">
        <parameter name = "email" value="autotestMV@yandex.ru"/>
        <parameter name = "password" value="mv123456"/>
        <parameter name = "userName" value="Михаил Васильев"/>

        <classes>
            <class name="ru.beru.Login"/>
        </classes>
    </test>

    <test name="DeliveryTest">
        <parameter name = "region" value="Хвалынск"/>
        <parameter name = "email" value="autotestMV@yandex.ru"/>
        <parameter name = "password" value="mv123456"/>

        <classes>
            <class name="ru.beru.Delivery" />
        </classes>
    </test>

    <test name="BasketTest">
        <parameter name = "catalogSection" value="Электрические зубные щетки"/>
        <parameter name = "priceFrom" value="999"/>
        <parameter name = "priceTo" value="1999"/>
        <parameter name = "positionFromEnd" value="1"/>
        <parameter name = "minSum" value="2999"/>

        <classes>
            <class name="ru.beru.Basket" />
        </classes>
    </test>

</suite>